In [128]:
import math

In [129]:
# example dataset
# let's say we have a dataset with Two classes, A and B
# Suppose in the dataset 10 elements, 4 are of class A and 6 are of class B.

# number of class in each class
n_A = 4
n_B = 6
totel  = n_A + n_B

In [130]:
# let's calculate the propotion tree
p_A = n_A/totel
p_B = n_B/totel
# print the propotions 
print('Propotion of A:', p_A)
print('Propotion of B:', p_B)

Propotion of A: 0.4
Propotion of B: 0.6

In [131]:
# Calculate Entropy
# Entropy is a measure of uncertainty
entropy = -p_A * math.log2(p_A) - p_B * math.log2(p_B)
print('Entropy:', entropy)

Entropy: 0.9709505944546686

In [132]:
# Gini impurity
# Gini impurity is a measure of misclassification
gini = 1- p_A**2 - p_B**2
print('Gini impurity:', gini)

Gini impurity: 0.48

In [133]:
# Information Gain
# Assuming a split on some feature divides the dataset into two subsets
# Subset 1: 2 elements of A , 3 of B
# Subset 2: 2 elements of A , 3 of B
# Entropy and size each subset 
n_1_A, n_1_B = 2,3
n_2_A, n_2_B = 2,3

p_1_A = n_1_A /(n_1_A + n_1_B )
p_1_B = n_1_B /(n_1_A + n_1_B )
entropy_1 = -p_1_A * math.log2(p_1_A) - p_1_B * math.log2(p_1_B) if p_1_A and p_1_B else 0
p_2_A = n_2_A /(n_2_A + n_2_B )
p_2_B = n_2_B /(n_2_A + n_2_B )
entropy_2 = -p_2_A * math.log2(p_2_A) - p_2_B * math.log2(p_2_B) if p_2_A and p_2_B else 0

# calculating Information Gain
info_gain = entropy - ((n_1_A + n_1_B )/totel * entropy_1 + (n_2_A + n_2_B ) / totel * entropy_2)
print('Information Gain:', info_gain)

Information Gain: 0.0

# Decision Tree Example in python

In [134]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [135]:
# import dataset
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [136]:
# drop deck column
df.drop('deck', axis=1, inplace=True)
# impute missing values of age and fare using median
imputer = SimpleImputer(strategy='median')
df[['age', 'fare']] = imputer.fit_transform(df[['age', 'fare']])
# impute missing values of embarked and embark_town using mode
imputer = SimpleImputer(strategy='most_frequent')
df[['embarked', 'embark_town']] = imputer.fit_transform(df[['embarked', 'embark_town']])

In [137]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [138]:
# encode the categorical and object variables
le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object' or df[col].dtype == 'category':
        df[col] = le.fit_transform(df[col])

In [139]:
df.head()

   survived  pclass  sex   age  ...  adult_male  embark_town  alive  alone
0         0       3    1  22.0  ...        True            2      0  False
1         1       1    0  38.0  ...       False            0      1  False
2         1       3    0  26.0  ...       False            2      1   True
3         1       1    0  35.0  ...       False            2      1  False
4         0       3    1  35.0  ...        True            2      0   True

[5 rows x 14 columns]

In [140]:
# split the data into X and y
X = df.drop(['survived', 'alive'], axis=1)
y = df['survived']
# split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [141]:
# create and train the model
model = DecisionTreeClassifier(max_depth=3)
model.fit(X_train,y_train)

# predict the model
y_pred = model.predict(X_test)
# evaluate the model
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[92 13]
 [19 55]]
              precision    recall  f1-score   support

           0       0.83      0.88      0.85       105
           1       0.81      0.74      0.77        74

    accuracy                           0.82       179
   macro avg       0.82      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

In [142]:
# save the decision tree classifier
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./saved_model/decision_tree_03.dot', feature_names=X.columns, filled=True, rounded=True)