# CatBosost Algorithm

In [97]:
# !pip install catboost

In [98]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

## pre-processing

In [99]:
# load dataset
df = sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [100]:
df.isnull().sum().sort_values(ascending=False)

deck           688
age            177
embarked         2
embark_town      2
sex              0
pclass           0
survived         0
fare             0
parch            0
sibsp            0
class            0
adult_male       0
who              0
alive            0
alone            0
dtype: int64

In [101]:
# impute missing values using KNN imputer in age
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df['age'] = imputer.fit_transform(df[['age']])

# impute embarked and embark_town using pandas
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode()[0])

# drop deck column
df = df.drop('deck', axis=1)

# check missing values
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [102]:
# convert each category column into category
cate_col = df.select_dtypes(include=['object', 'category']).columns
# add this a new column in the dataframe
df[cate_col] = df[cate_col].astype('category')

In [103]:
# split the data into X and y
X = df.drop('survived', axis=1)
y = df['survived']

# train test the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [104]:
# run the catboost classifiers
model = CatBoostClassifier(iterations=100,
                           learning_rate=0.1,
                           depth=3,
                           loss_function='Logloss',
                           eval_metric='Accuracy',
                           random_seed=42,
                           verbose=False)

# train the model
model.fit(X_train, y_train, cat_features=cate_col.tolist())
# predict the model
y_pred = model.predict(X_test)

# evaluate the model
print('accuracy_score:', accuracy_score(y_test,y_pred))
print('confusion_matrix:\n', confusion_matrix(y_test,y_pred))
print('classification_report:\n', classification_report(y_test,y_pred))

accuracy_score: 1.0
confusion_matrix:
 [[113   0]
 [  0  66]]
classification_report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       113
           1       1.00      1.00      1.00        66

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179