# Feature Scaling

In [ ]:
#pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\envs\python_eda\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\dell\anaconda3\envs\python_eda\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.8.0 in c:\users\dell\anaconda3\envs\python_eda\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\anaconda3\envs\python_eda\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\anaconda3\envs\python_eda\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

## 1. Min Max Scaling

In [11]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# simple data
data = {'value' : [10,20,30,40,50]}
df = pd.DataFrame(data)
print(df.head())

   value
0     10
1     20
2     30
3     40
4     50

In [13]:
# scale the data using min max scaler
scaler = MinMaxScaler()
df['value_scaler'] = scaler.fit_transform(df[['value']])
df.head()

   value  value_scaler
0     10          0.00
1     20          0.25
2     30          0.50
3     40          0.75
4     50          1.00

## 2. Standerd Scaler or Z-score normlization

In [14]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# simple data
data = {'value' : [10,20,30,40,50]}
df = pd.DataFrame(data)
print(df.head())

   value
0     10
1     20
2     30
3     40
4     50

In [15]:
# scale the data using standerd scaler
scaler = StandardScaler()
df['value_scaler'] = scaler.fit_transform(df[['value']])
df.head()

   value  value_scaler
0     10     -1.414214
1     20     -0.707107
2     30      0.000000
3     40      0.707107
4     50      1.414214

## 3. Robust Scaler

In [17]:
from sklearn.preprocessing import RobustScaler
# simple data
data = {'value' : [10,20,30,1000,50]}
df = pd.DataFrame(data)

# scale the data using robust scaler
scaler = RobustScaler()
df['value_scaler'] = scaler.fit_transform(df[['value']])
df.head()

   value  value_scaler
0     10     -0.666667
1     20     -0.333333
2     30      0.000000
3   1000     32.333333
4     50      0.666667

## 4. Logrithmic Scaling / Normalization

In [19]:
import pandas as pd
import numpy as np

# random data with outliers
data = {'value' : [10000,20000,30000,100000,50000]}
df = pd.DataFrame(data)

# log transform
df['value_log'] = np.log(df['value'])
df['value_log2'] = np.log2(df['value'])
df['value_log10'] = np.log10(df['value'])

df.head()

    value  value_log  value_log2  value_log10
0   10000   9.210340   13.287712     4.000000
1   20000   9.903488   14.287712     4.301030
2   30000  10.308953   14.872675     4.477121
3  100000  11.512925   16.609640     5.000000
4   50000  10.819778   15.609640     4.698970